.sec {
	/* background: url(../imgs/bg1.jpg) no-repeat center center; */
	background: rgb(0 38 44);
	/* opacity: .4; */
	/* filter: blur(50px) saturate(3); */
	width: 100vw;
	height: 600px;
	overflow: hidden;
	/* margin: 0 auto; */
	padding-top: 100px;
	z-index: 10;
	position: relative;
	/* background: rgb(56, 56, 56);*/
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

slido {
	width: 100%;
	height: 60em;
}

.postertitle {
	text-align: center;
	position: relative;
	margin-bottom: -60px;
	z-index: 100;
	color: white;
	font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
}

.li {
	/* background-size:cover; */
	/* width: 300px;
	height: 500px; */
	background: #333;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	overflow: hidden;
}

.li p {
	color: white;
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	margin-top: 1.175em;
}

.items {
	position: absolute;
}

.main-pos {
	margin-left: -1.2em !important;
	transform: translateX(-50%);
	z-index: 3000;
	/*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}

.left-pos {
	opacity: .3;
	margin-left: -22em !important;
	transform: translateX(-50%);
	z-index: 1000;
	-webkit-transform: scale(.75);
	-moz-transform: scale(.75);
	transform: scale(.75);
}

.back-pos {
	margin-left: 0em !important;
	transform: translateX(-50%);
	opacity: .05;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	transform: scale(.5);
}

.right-pos {
	opacity: .3;
	margin-left: 0em !important;
	transform: translateX(-50%);
	z-index: 1000;
	-webkit-transform: scale(.75);
	-moz-transform: scale(.75);
	transform: scale(.75);
}

span {
	/* position: relative; */
	margin: 0 auto;
	left: 17em;
	top: 20em;
}



.posterimg {
	height: 450px;
	width: 350px;
	background-size: cover;
}


/* --------------------------------------------------------------- */



.main-container-wrapper {
	background-color: #f8fafa;
	min-width: 320px;
	min-height: 568px;
	max-width: 414px;
	overflow-y: auto;
}

@media (min-width: 415px) {
	.main-container-wrapper {
		-moz-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
		-webkit-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
		box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
		margin: 24px auto;
	}
}

header {
	background-color: #fff;
	display: flex;
	height: 58px;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
}

.header__btn {
	background-color: #86d8c9;
	border: 2px solid #fff;
	border-radius: 50%;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	height: 80px;
	padding-top: 18px;
	position: absolute;
	top: -25px;
	width: 80px;
}

.header__btn:hover,
.header__btn:focus {
	background: #67cebb;
	transition: all 0.3s ease-in;
	outline: none;
}

.header__btn .icon {
	display: inline-block;
}

.header__btn--left {
	left: -25px;
	padding-left: 38px;
	text-align: left;
}

.header__btn--right {
	padding-right: 32px;
	right: -25px;
	text-align: right;
}

.calendar-container {
	background-color: #fff;
	padding: 16px;
	margin-bottom: 24px;
}

.calendar-container__header {
	display: flex;
	justify-content: space-between;
}

.calendar-container__btn {
	background: transparent;
	border: 0;
	cursor: pointer;
	font-size: 16px;
	outline: none;
	color: #e9e8e8;
}

.calendar-container__btn:hover,
.calendar-container__btn:focus {
	color: #9faab7;
	transition: all 0.3s ease-in;
}

.calendar-container__title {
	color: #222741;
	font-size: 20px;
	font-weight: 700;
}

.calendar-table {
	margin-top: 12px;
	width: 100%;
}

.calendar-table__item {
	border: 2px solid transparent;
	border-radius: 50%;
	color: #424588;
	font-size: 12px;
	font-weight: 700;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.calendar-table__item:hover {
	background: #f8fafa;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	transition: 0.2s all ease-in;
}

.calendar-table__row {
	display: flex;
	justify-content: center;
}

.calendar-table__header {
	border-bottom: 2px solid #f2f6f8;
	margin-bottom: 4px;
}

.calendar-table__header .calendar-table__col {
	display: inline-block;
	color: #99a4ae;
	font-size: 12px;
	font-weight: 700;
	padding: 12px 3px;
	text-align: center;
	text-transform: uppercase;
	width: 40px;
	height: 38px;
}

@media (min-width: 360px) {
	.calendar-table__header .calendar-table__col {
		width: 46px;
	}
}

@media (min-width: 410px) {
	.calendar-table__header .calendar-table__col {
		width: 54px;
	}
}

.calendar-table__body .calendar-table__col {
	width: 40px;
	height: 42px;
	padding-bottom: 2px;
}

@media (min-width: 360px) {
	.calendar-table__body .calendar-table__col {
		width: 46px;
		height: 48px;
	}
}

@media (min-width: 410px) {
	.calendar-table__body .calendar-table__col {
		width: 54px;
		height: 56px;
	}
}

.calendar-table__today .calendar-table__item {
	border-color: #fefefe;
	background-color: #f2f6f8;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.calendar-table__event .calendar-table__item {
	background-color: #66dcec;
	border-color: #fefefe;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	color: #fff;
}

.calendar-table__event--long {
	overflow-x: hidden;
}

.calendar-table__event--long .calendar-table__item {
	border-radius: 0;
	border-width: 2px 0;
}

.calendar-table__event--start .calendar-table__item {
	border-left: 2px solid #fff;
	border-radius: 50% 0 0 50%;
}

.calendar-table__event--start.calendar-table__col:last-child .calendar-table__item {
	border-width: 2px;
}

.calendar-table__event--end .calendar-table__item {
	border-right: 2px solid #fff;
	border-radius: 0 50% 50% 0;
}

.calendar-table__event--end.calendar-table__col:first-child .calendar-table__item {
	border-width: 2px;
}

.calendar-table__inactive .calendar-table__item {
	color: #dcdce3;
	cursor: default;
}

.calendar-table__inactive .calendar-table__item:hover {
	background: transparent;
	box-shadow: none;
}

.calendar-table__inactive.calendar-table__event .calendar-table__item {
	color: #fff;
	opacity: 0.25;
}

.calendar-table__inactive.calendar-table__event .calendar-table__item:hover {
	background: #66dcec;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.events-container {
	padding: 0 15px;
	width: 100%;
}

.events__title {
	color: #bec1ca;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 16px;
	margin-top: 20px;
	margin-left: 15px;
}

.noevents__title {
	color: #bec1ca;
	display: inline-block;
	font-weight: 600;
	margin: auto;

	margin-bottom: 16px;
	margin-top: 20px;
}

.events__tag {
	background: #010511;
	border: 2px solid #fefefe;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	/* width: 60px; */
	/* margin-left: 16px; */
	padding: 10px;
	text-align: center;
}

.events__tag--highlighted {
	background: #fdca40;
}

.dispf {
	display: flex;
	padding-right: 6px;
	justify-content: space-between;
}



.regbtn {
	width: 100px;
	background-color: #ff6e42;
	margin-bottom: 5px;
	font-size: 12px;
	user-select: none;
}

.regbtn:hover {
	transform: scale(1.05);
}


.events__item {
	background: #fff;
	border-left: 8px solid #010511;
	border-radius: 2px;
	-moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 6px 12px rgb(0 0 0 / 50%);
	padding: 15px 16px;
	cursor: pointer;
	display: flex;
	border-radius: 10px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.events__item:hover {
	background-color: #fafafa;
}

.events__item--left {
	width: calc(100% - 76px);
}

.events__name {
	font-size: 16px;
	font-weight: 700;
	color: #222741;
	display: block;
	margin-bottom: 10px;
}

.events__date {
	font-size: 12px;
	color: #9faab7;
	display: inline-block;
}

.events__list {
	margin-left: -35px;
}

.dflex {
	display: flex;
}

.dflex i {
	margin-right: 10px;
	margin-bottom: 0;
}

.dflex {
	margin-bottom: 0;
}

.videodiv {
	width: 100%;
	height: 500px;
}

.contactlink {
	color: white;
}

.members3 {
	padding: 0 10px;
	width: 100px;
}
.posterbg{
    background: #01040d !important;
}

.jc-c{
	justify-content: center;
}
.ai-c{
	align-items: center;
}
.notsmall{
	font-size: 140%;
	margin-left: 15px;
	margin-right: 20px;
}
.event-title{
	margin-top: -6px;
	font-weight: 700;
}
.noshadow{
	box-shadow: none;
}
.day-width{
	min-width: 50%;
}